// @mixin ForPhone {
// }
#Tabs {
    display: block;
    .iconLogo {
        position: absolute;
        margin: 8px !important;
    }
    .tabPC {
        display: none;
    }
    .tabPhone {
        display: block !important;
    }
    .tabsHolder {
        z-index: 1;
        height: 52px;
        .menu {
            display: block;
            font-size: 30px;
            width: -webkit-fill-available;
        }
        .react-tabs__tab {
            background-color: black;
            width: -webkit-fill-available;
            margin-left: 0;
            padding-left: 20px !important;
            &--selected {
                background-color: white !important;
            }
        }
        .tabtitles {
            margin: 3px;
        }
        #liDisabled {
            width: 100%;
            padding: 3px;
            background: black;
        }
    }
}

.TabPanel {
    .logo {
        display: none;
    }
}

.PanelHome {
    .absolute {
        margin-left: 30px !important;
        padding-left: 0 !important;
        position: initial;
        .bonjour {
            margin-top: 22px;
        }
        .textDescriptif {
            margin-right: 35px;
            margin-top: 70px;
        }
    }
    .PhotoHome {
        margin-left: 56px;
        width: 70.7%;
    }
}

.PanelAbout {
    margin: 30px 30px 0 30px !important;
    padding: 0 !important;
    width: auto;
}

.PanelProjets {
    margin: 30px 30px 0 30px !important;
    padding: 0 !important;
    width: auto;
    .PROJETS {
        padding: 0 !important;
        margin: 0 !important;
    }
    .projets {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 15px;
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .projetNamePhone {
            display: block;
            font-size: 35px;
            margin-top: 20px;
        }
        .projetName {
            display: none;
        }
        .text {
            .visite {
                color: white;
                background-color: #ffb400;
                border: 1px solid #ffb400;
            }
            .codeSource {
                color: #ffb400;
                float: right;
                margin: 10px;
                text-decoration: underline;
            }
            .sourceSnap {
                margin-top: -27px;
            }
        }
        .overlay-image:last-child {
            border-bottom: 1px solid #dfdfdf;
            padding-bottom: 30px;
        }
    }
}

.PanelContact {
    margin: 30px 30px 0 30px !important;
    padding: 0 !important;
    width: auto;
}

.PanelSkills {
    margin: 30px 30px 0 30px !important;
    padding: 0 !important;
    width: auto;
    .textSkills {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .styleDev {
        text-decoration: underline;
        margin-top: 40px;
    }
    .flexPhone {
        display: flex;
        justify-content: space-between;
    }
    .skillsPreference {
        align-items: flex-end;
    }
    .divLanguage {
        place-self: flex-end;
        align-self: flex-end;
        display: flex;
        .logoSkills {
            width: 20px;
            height: 20px;
        }
    }
    .displayBlock {
        display: block;
        .gridLanguage {
            display: flex;
            justify-content: space-between;
            &2 {
                display: flex;
                justify-content: space-around !important;
            }
        }
    }
}

.PanelExperience {
    margin: 30px 30px 0 30px !important;
    padding: 0 !important;
    width: auto;
    .divExperience {
        border-top: 1px solid #dfdfdf;
        padding: 20px 0;
        &:last-child {
            border-bottom: 1px solid #dfdfdf;
        }
        .divTitleExperience {
            display: flex;
            color: #545454;
            justify-content: space-between;
        }
        .titleExperience {
            margin-bottom: 20px;
        }
        .img_Text {
            text-align: center;
            font-family: sans-serif;
            .imageExperience {
                width: 160px;
                height: 70px;
                margin-bottom: 20px;
            }
            .textExp {
                text-align: left;
                margin: 0 !important;
            }
        }
    }
}

.PanelEducation {
    margin: 30px 30px 0 30px !important;
    padding: 0 !important;
    width: auto;
    .divEducation {
        border-top: 1px solid #dfdfdf;
        padding: 20px 0;
        &:last-child {
            border-bottom: 1px solid #dfdfdf;
        }
        .divTitleEducation {
            display: flex;
            color: #545454;
            justify-content: space-between;
        }
        .titleEducation {
            margin-bottom: 20px;
        }
        .img_Text {
            text-align: center;
            font-family: sans-serif;
            .imageEducation {
                width: 160px;
                height: 70px;
                margin-bottom: 20px;
            }
            .textEdu {
                text-align: left;
                margin: 0 !important;
            }
        }
    }
}

.CVPDF {
    display: none;
}

.CVPhone {
    display: block;
    text-align: end;
    h6 {
        font-size: 22px;
        .CV {
            text-decoration: none;
            color: white;
            background: black;
            padding: 10px;
        }
        .icon {
            position: relative;
            top: 3px !important;
        }
    }
}
